<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>el mue gato, Storm</title>
    <meta name="author" content="Ellie Peterson" />
    <meta name="description" content="A nerd's fever dream for her cat" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/nyaassets--apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/nyaassets--apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/nyaassets--apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/nyaassets--apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/nyaassets--apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/nyaassets--apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/nyaassets--apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/nyaassets--apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/nyaassets--apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/nyaassets--android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/nyaassets--favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/nyaassets--favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/nyaassets--favicon-16x16.png"
    />
    <link rel="manifest" href="/nyaassets--manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/nyaassets--ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <!-- <link href="css/style.css" rel="stylesheet" /> -->
    <!-- <script src="js/vendor/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="js/translate.js"></script> -->
  </head>

  <body>
    <div class="loading-wrapper">
      <p class="initial-loading">Loading...</p>
    </div>
  </body>
</html>
